<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sniadach.szymon.projektszkola">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PierwszeActivity">

        </activity>
        <activity android:name=".DrugieActivity">

        </activity>
        <activity android:name=".TrzecieActivity">

        </activity>
        <activity android:name=".CzwarteActivity">

        </activity>
    </application>

</manifest>